*{
    font-family: Figtree,Arial, Helvetica, sans-serif;
    font-size :16px;
}
body{
    background-color: hsl(47, 88%, 63%);
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    
    align-items: center;
    height:100vh;
    width:100vw;
}
.box{
    border:2px solid black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:8px 8px 12px black;
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    width:280px;
    border-radius:10px;
    cursor: pointer;

}
.card-img{
    margin-top:10px;
    transition: transform 0.3s ease
    
}


.card-img img{
    width: 250px;
    border-radius: 7px;
    transition: transform 0.3s ease
    
}

.card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    
    
}
.learning {
    background-color:hsl(47, 88%, 63%);
    width: 70px;
    border-radius: 4px;
    height:20px;
    text-align: center;
    font-weight: 700;
    font-size:14px;
    
    margin-bottom: 10px;

}
.learning:hover{
    box-shadow: 5px 5px 5px black;
}


.published-date{
    font-size:14px;
    
    margin-bottom: 10px;
    
}

.header{
    
    margin-bottom: 10px;
    font-weight: 800;
    transition: color 0.15s;

}
.header:hover{
    color:yellow;
}

.para{
    
    margin-bottom: 10px;
    font-weight: 400;
}

.profile{
    
    margin-bottom: 10px;
    display: flex;

}

.profile-photo img{
    height:30px;
}

.profile-name{
    font-size:14px;
    margin-left:10px;
    margin-top:6px;
    font-weight: 800;
}

.profile-name:hover{
    color:green;
}
.profile-photo img {
  transition: transform 0.3s ease;
}

.profile-photo:hover img,
.profile-photo:focus img,
.card-img:hover img
{
  transform: scale(1.05); /* slight zoom effect */
}

.profile-photo:focus {
  outline: 2px solid #facc15; /* focus ring */
  outline-offset: 4px;
}